<ul>
  <li style="float: right;"><a href="#Signup" style="font-family: roboto; color: #808080;">Signup or Login</a></li>
  <li style="float: right;"><a href="#SavedSearches" style="font-family: roboto; color: #808080;">Saved Searches</a>
  </li>
  <li style="float: right;"><a href="##savedhome" style="font-family: roboto; color: #808080;">Saved Home</a></li>
  <li style="float: left;"><a href="##savedhome" style="font-family: roboto; color: #808080;">Buy</a></li>
  <li style="float: left;"><a href="##savedhome" style="font-family: roboto; color: #808080;">Rent</a></li>
  <li style="float: left;"><a href="##savedhome" style="font-family: roboto; color: #808080;">Mortages</a></li>
</ul>
<div class="header">
  <form>
    <h1 style="color: #fff;
    margin-bottom: 50px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center; font-family: roboto;">Discover Your New Home</h1>
    <div><a href="#" style="color: white; font-size: small; font-family: roboto;">BUY</a> <a href="#"
        style="color: white; font-size: small; padding-left: 15px; font-family: roboto;">RENT</a> <a href="#"
        style="color: white; font-size: small; padding-left: 15px; font-family: roboto;">PG/CO-LIVING</a> </div>
    <input type="text" class="search-field location " placeholder="Location">
    <input type="text" class="search-field bussiness" placeholder="Flat Home PG">
    <button class="search-btn" type="button">Search</button>
  </form>
</div>
<br>
<h1 style="text-align: center; color: #808080; font-size: 35px; font-family: roboto;">Discover how Syandan can help</h1>
<br>
<div class="row" style="display: flex; justify-content: center; margin: 0; padding: 0;">
  <div class="col-md-3 box " style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
    <img src="assets/images/buy1.jpg" style="display: block;
    margin-left: auto;
    margin-right: auto; width: 200px;">
    <figcaption style="font-size: xx-large ; font-family: roboto;text-align: center;">Buy A Home</figcaption>
    <h4 style="text-align: center; font-family: roboto;">Find your place with an immersive photo experience and the
      most listings, including things you won’t find anywhere else Search homes.</h4>
      <button class="button button2" style="margin-left:80px ; color:#0f4d92 ;"><b>Search Homes</b></button>

  </div>
  <div class="col-md-3 box" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin-left: 60px;">
    <img src="assets/images/sale1.png" style="display: block;
    margin-left: auto;
    margin-right: auto; width: 200px;">
    <figcaption style="font-size: xx-large ; font-family: roboto;text-align: center;">Sale A Home</figcaption>
    <h4 style="text-align: center; font-family: roboto;">Whether you sell with new Zillow Offers™ or take another approach, we’ll help you navigate the path to a successful sale..</h4>
      <button class="button button2" style="margin-left:80px ; color:#0f4d92"><b>See Your Options</b></button>

  </div>
  <div class="col-md-3 box" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin-left: 60px;">
    <img src="assets/images/rent.png" style="display: block;
    margin-left: auto;
    margin-right: auto; width: 200px;">
    <figcaption style="font-size: xx-large ; font-family: roboto;text-align: center;">Rent A Home</figcaption>
    <h4 style="text-align: center; font-family: roboto;">We’re creating a seamless online experience – from shopping on the largest rental network, to applying, to paying rent.</h4>
      <button class="button button2" style="margin-left:100px ;color:#0f4d92;"><b>Find Rentals</b></button>

  </div>
</div>
<hr>
<br> 
<h2 style="font-family: roboto; text-align: center;"><b>Top Localities</b></h2>
<h4 style="font-family: roboto; text-align: center; opacity:0.6 ">Check out the top Localities </h4>
<br><br>
<div class="row" style="border: 1px solid #d3d3d3; height: 600px; width: 850px; margin-left: 250px;">
<div class="row">
  
  
  <a href="">
    <div class="col-md-3 ">
      <h5  style="border: 1px solid #d3d3d3; border-radius: 10px; text-align: center; font-family: roboto; background-color: #d3d3d3; padding-bottom: 10px; padding-top: 10px; margin-left: 18px; "><b>POPULAR</b></h5>
    </div>
  </a>
  

<a href="">
  <div class="col-md-3">
    <h5 style="border: 1px solid #d3d3d3; border-radius: 10px; text-align: center; font-family: roboto; background-color: #d3d3d3; padding-bottom: 10px; padding-top: 10px;"><b>INVESTMENT HOTSPOT</b></h5>
  </div>
</a>
<a href="">
  <div class="col-md-3">
    <h5 style="border: 1px solid #d3d3d3; border-radius: 10px; text-align: center; font-family: roboto; background-color: #d3d3d3; padding-bottom: 10px; padding-top: 10px;"><b>AFFORDABLE</b></h5>
  </div>
</a>
<a href="">
  <div class="col-md-3">
    <h5 style="border: 1px solid #d3d3d3; border-radius: 10px; text-align: center; font-family: roboto; background-color: #d3d3d3; padding-bottom: 10px; padding-top: 10px; margin-right: 20px;"><b>GREAT LIFESTYLE</b></h5>
  </div>
</a>
</div>
<div class="row" style="border: 1px solid #d3d3d3; height: 520px; width: 810px; margin-left: 20px;">
<div class="col-md-4" >
 <div>
   <a href="">
   <h5 style="padding-top: 5px;"><b style="opacity: 0.9;">Uttam Na..</b> <b style="margin-left: 85px;">$3500/sq.ft</b></h5>
  </a>
  </div>
 <hr>
 <div>
  <a href=""> 
  <h5><b style="opacity: 0.9;">Rohini</b> <b style="margin-left: 110px;">$3500/sq.ft</b></h5>
</a>
</div>

<hr>
<div>
  <a href="">
  <h5><b style="opacity: 0.9;">Old Delhi</b> <b style="margin-left: 90px;">$3500/sq.ft</b></h5>
</a>
</div><hr>
<div>
<a href="">
  <h5><b style="opacity: 0.9;">Dwarka</b> <b style="margin-left: 100px;">$3500/sq.ft</b></h5>
</a>
</div><hr>
<div>
  <a href="">
  <h5><b style="opacity: 0.9;">New Asho..</b> <b style="padding-left: 75px;">$3500/sq.ft</b></h5>
</a>
</div><hr>
<div>
  <a href="">
  <h5><b style="opacity: 0.9;">Model To..</b> <b style="margin-left: 80px;">$3500/sq.ft</b></h5>
</a>
</div><hr>
<div>
  <a href="">
    <h5><b style="opacity: 0.9;">MG Road</b> <b style="margin-left: 85px;">$3500/sq.ft</b></h5>
  </a>
  </div>
<div>
  <a href=""><hr>
  
  <h5><b style="opacity: 0.9;">Kamla Na</b> <b style="margin-left: 82px;">$3500/sq.ft</b></h5>
</a>
</div><hr>
<div>
<a href="">
  <h5><b style="opacity: 0.9;">Pitampura</b> <b style="margin-left: 75px;">$3500/sq.ft</b></h5>
</a>
</div>

  
</div>

<div class="col-md-8">
  <img src="assets/images/map.jpg" style="width: 525px; height: 518px;">
</div>
</div>
</div>



<br>
<div class="row" style="background-color:#A9A9A9 ; margin: 0; padding: 0; padding-top: 10px;">
  <div class="row" style="padding: 0 ; margin: 0; display: flex; justify-content: center;"><data
    style="color:whitesmoke; font-size: 20px;font-family: lato;">Discover</data><img
    src="https://img.icons8.com/color/48/000000/marker.png"><data
    style="color:whitesmoke; font-size: 20px; font-family: lato;">a
    place</data> <img src="https://img.icons8.com/color/48/000000/skyscrapers.png" /><data
    style="color: whitesmoke; font-size: 20px;font-family: lato;">you'll Love</data> <img
    src="https://img.icons8.com/color/48/000000/hearts.png" /><data
    style="color: whitesmoke; font-size: 20px;font-family: lato;">To
    Live</data> 
</div>
<div class="row" style="padding: 0; margin: 0;">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <h4 style="color: #fff; padding-top: 15px;font-family: lato;"><b>COMPANY</b></h4>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Carrers</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>About Us</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>For Partners</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Terms</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Privacy Policy</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Contact Us</b></h5>
    </a>
  </div>
  <div class="col-md-3">
    <h4 style="color: #fff; padding-top: 15px; font-family: lato;"><b>EXPLORE</b></h4>
    <a href="#">
      <h5 style="font-family: roboto;"><b>News</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Home Loan</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Site Maps</b></h5>
    </a>
  </div>
  <div class="col-md-3">
    <h4 style="color: #fff; padding-top: 15px; font-family: lato;"><b>Follow</b></h4>
    <a href="#">
      <h5 style="font-family: roboto;"><b>LinkedIn</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Twitter</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Facebook</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Youtube</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Google+</b></h5>
    </a>
    <a href="#">
      <h5 style="font-family: roboto;"><b>Pinterst</b></h5>
    </a>
  </div>
</div>
<div class="row" style="padding: 0; margin: 0;   padding-top: 5px;"></div>
<img style="padding-left: 450px;" src="https://img.icons8.com/color/96/000000/city-buildings.png" /><img
  src="https://img.icons8.com/color/96/000000/city-buildings.png" /><img
  src="https://img.icons8.com/color/96/000000/city-buildings.png" /><img
  src="https://img.icons8.com/color/96/000000/city-buildings.png" /><img
  src="https://img.icons8.com/color/96/000000/city-buildings.png" />
</div>

